<section class="vh-100 d-flex align-items-center justify-content-center">
    <div class="px-4 py-5 text-center">
      <div class="container">
        <div class="row gx-lg-5 align-items-center">
          <div class="col-lg-6 mb-5">
            <h1 class="my-5 display-3 fw-bold ls-tight">
              De volta à sua vida digital com saúde integrada
            </h1>
          </div>

          <div class="col-lg-6 mb-5">
            <div class="card rounded-0">
              <div class="container">
                <img src="assets/logo.png" alt="Logo" width="128">
              </div>
              <div class="card-body py-5 px-md-5">
                <form>
                  <div class="form-outline mb-4">
                    <label class="form-label" for="form3Example3">Email</label>
                    <input type="email" id="form3Example3" class="form-control" />
                  </div>
  
                  <div class="form-outline mb-4">
                    <input type="password" id="form3Example4" class="form-control" />
                    <label class="form-label" for="form3Example4">Senha</label>
                  </div>

                  <div class="d-grid">
                    <button type="submit" class="btn btn-primary btn-block mb-4 ">
                      Entrar
                    </button>
                  </div>
  
                  <div class="form-check d-flex justify-content-center mb-4">
                    <label class="form-check-label" for="form2Example33">
                      Ainda não tem uma conta? <a href="">Registre-se</a>
                    </label>
                  </div>

                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Jumbotron -->
</section>
